@model ShooterServiceDemo.Models.ContextModels.ShootingRecord

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ShootingRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShooterID" class="control-label"></label>
                <select asp-for="ShooterID" class ="form-control" asp-items="ViewBag.ShooterID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DeadID" class="control-label"></label>
                <input asp-for="DeadID" class="form-control" />
                <span asp-validation-for="DeadID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HitZoneID" class="control-label"></label>
                <input asp-for="HitZoneID" class="form-control" />
                <span asp-validation-for="HitZoneID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShootingTime" class="control-label"></label>
                <input asp-for="ShootingTime" class="form-control" />
                <span asp-validation-for="ShootingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
